[package]
name = "spdlog-rs"
version = "0.3.4"
edition = "2021"
rust-version = "1.56"
description = "A fast and combinable Rust logging crate, inspired by the C++ logging library spdlog"
repository = "https://github.com/SpriteOvO/spdlog-rs"
license = "MIT OR Apache-2.0"
keywords = ["spdlog", "log", "logging"]
categories = ["development-tools::debugging"]

[package.metadata.docs.rs]
all-features = true

[lib]
name = "spdlog"

[features]
level-off      = []
level-critical = []
level-error    = []
level-warn     = []
level-info     = []
level-debug    = []
level-trace    = []

release-level-off      = []
release-level-critical = []
release-level-error    = []
release-level-warn     = []
release-level-info     = []
release-level-debug    = []
release-level-trace    = []

source-location = []
native = []
libsystemd = ["libsystemd-sys"]
multi-thread = ["crossbeam"]

[dependencies]
arc-swap = "1.5.1"
atomic = "0.5.1"
atty = "0.2.14"
cfg-if = "1.0.0"
chrono = "0.4.22"
crossbeam = { version = "0.8.2", optional = true }
flexible-string = { version = "0.1.0", optional = true }
if_chain = "1.0.2"
log = { version = "0.4", optional = true }
once_cell = "1.16.0"
spdlog-macros = { version = "0.1.0", path = "../spdlog-macros" }
spin = "0.9.4"
static_assertions = "1.1.0"
thiserror = "1.0.37"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["debugapi", "handleapi", "processthreadsapi"] }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(target_os = "linux")'.dependencies]
libsystemd-sys = { version = "0.9.3", optional = true }

[dev-dependencies]
clap = { version = "3.2.23", features = ["derive"] }
crossbeam = "0.8.2"
regex = "1.7.0"

# The following dependencies are used for benchmarks
log = "=0.4.17"
slog = "=2.7.0"
sloggers = "=2.1.1"
log4rs = "=1.2.0"
fern = "=0.6.1"
flexi_logger = "=0.24.1"
tracing = "=0.1.37"
tracing-subscriber = "=0.3.16"
tracing-appender = "=0.2.2"

[build-dependencies]
rustc_version = "0.4.0"

[[bench]]
name = "compare_with_cpp_spdlog"
harness = false

[[bench]]
name = "compare_with_cpp_spdlog_async"
harness = false

[[example]]
name = "06_compatible_with_log_crate"
required-features = ["log"]

[[example]]
name = "07_async_pool_sink"
required-features = ["multi-thread"]
