[package]
name = "spdlog-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
nom = "7.1.1"
proc-macro2 = "1.0.47"
quote = "1.0.21"
syn = { version = "1.0.103", features = ["full"] }
